.projectTitle {
  padding-left: 40px;
  display: flex;
  gap: 20px;
  background-color: blueviolet;
  color: white;
  font-size: large;
}
#ProjectTitles {
  background-color: blueviolet;
}
.btn1 {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border-color: blueviolet;
  margin-top: 17px;
}
.projects {
  margin: 0px;
  background-color: rgb(193, 127, 255);
}
.name {
  color: white;
  list-style: none;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;s */
}
.lists:hover {
  background-color: blueviolet;
  color: white;
}
.lists {
  margin-left: 50px;
  margin-right: 50px;
  padding: 1px;
  font-size: large;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border: 1px solid red; */
  /* background-color: rgb(229, 206, 251); */
  /* color: blueviolet; */
  /* border: 1px solid red; */
}
.mainProjectContainer {
  display: flex;
  width: 100%;
}
button {
  cursor: pointer;
}

#ProjectTitles {
  width: 30%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.selected-project {
  padding: 20px;
  width: 500px;
  /* background-color: blueviolet; */
  /* border: 1px solid red; */
  margin: 0px 325px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.projectinfo {
  display: flex;
  margin-left: 20px;
  gap: 50px;
  /* border: 1px solid red; */
}
.projectbtns {
  /* border: 1px solid red; */
  display: flex;
  gap: 50px;
  align-items: center;
}
.pbtn {
  padding: 7px;
  margin-left: 180px;
  background-color: rgb(183, 106, 255);
  border-radius: 5px;
  color: white;
  font-size: 16px;
}
.ultag {
  display: flex;
  /* border: 1px solid red; */
  gap: 20px;
  justify-content: space-between;
}
.ultag button {
  /* border: 1px solid red; */
  margin-top: 0;
  cursor: pointer;
}
.pbtn2 {
  padding: 7px;
  cursor: pointer;
  /* margin-left: 200px; */
  background-color: rgb(183, 106, 255);
  border-radius: 5px;
}
.pbtn2 a {
  font-size: medium;
  text-decoration: none;
  color: white;
}
.pbtn a {
  font-size: medium;
  text-decoration: none;
  color: white;
}
.projectinfo2 {
  display: flex;
  gap: 50px;

  /* border: 5px solid red; */
}
.addbtn {
  padding: 10px;
  margin-left: 50px;
  /* background-color: transparent; */
  font-size: 16px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  cursor: pointer;
}
#showprojects {
  width: 100%;
}
.title {
  color: blueviolet;
}
.task-list {
  /* border: 1px solid red; */
  text-align: center;
}
.task-list h1 {
  color: blueviolet;
}
#taskbtn {
  display: flex;
  justify-content: center;
}
.addpbtn {
  /* padding: px; */
  margin-left: 50px;
  /* background-color: transparent; */
  font-size: 16px;
  border: 1px solid blueviolet;
  border-radius: 5px;
}
table,
td,
th {
  border: 1px solid;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}
#greenbtns:hover {
  background-color: green;
  color: white;
}
#detbtns:hover {
  background-color: red;
  color: white;
}
#detbtns a:hover {
  color: white;
}
#delbtn {
  padding: 8px;
  border-radius: 5px;
  color: white;
  background-color: red;
  font-size: 16px;
}
#updatebtn {
  padding: 8px;
  border-radius: 5px;
  color: white;
  background-color: rgb(183, 106, 255);
  font-size: 16px;
}
#updatebtn:hover {
  background-color: green;
}
.tasklistli {
  list-style: none;
}
