<nav class="nav">
  <h1>ProjectHub</h1>
  <!-- <div class="nav-search">
    <input type="text" placeholder="Search projects" />
    <button>Serach</button>
  </div> -->
  <div id="loginDiv" [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="signup">Login/signUp</a></li>
    </ul>
    <ul *ngSwitchCase="'user'">
      <li><a routerLink="homepage">Home</a></li>
      <li>
        <a routerLink="signup">{{ userName }}</a>
      </li>
      <li><a (click)="userlogout()">Logout</a></li>
    </ul>
  </div>
</nav>
